Repository ondrejsika/gitlab-ci--docker-ansible--kosice--example: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, get_build_artifacts, build_docker

build:
  stage: build
  artifacts:
    paths:
    - server
  image: golang
  script:
  - go build server.go

get_build_artifacts:
  stage: build
  artifacts:
    paths:
    - server
  image: ondrejsika/ci
  script:
  - curl -fsSL  https://gitlab-kosice.do.xsika.cz/$CI_PROJECT_PATH/-/jobs/artifacts/$CI_COMMIT_REF_NAME/download?job=build > a.zip
  - unzip a.zip

build_docker:
  stage: build_docker
  script:
  - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  - docker build -t $CI_REGISTRY_IMAGE .
  - docker push $CI_REGISTRY_IMAGE

CI - add simple test
  .gitlab-ci.yml
Due: none

Fix Dockerfile
  Dockerfile
Due: get_build_artifacts, build_docker

CI - add dev deployment
  .gitlab-ci.yml
Due: none

Dockerfile - expose port 80
  Dockerfile
Due: get_build_artifacts, build_docker

build image per branch/tag
  .gitlab-ci.yml
Due: none

Make it awesome #1
  server.go
Due: build, build_docker

Fix awesomeness #1
  server.go
Due: build, build_docker

add ansible playbook
  ansible/apply.sh
  ansible/hosts
  ansible/playbook.yml
Due: none

CI - add production deployment (using ansible)
  .gitlab-ci.yml
Due: none

CI - run tests only after docker build
  .gitlab-ci.yml
Due: none

CI - fix prod deployment (run only on production runner)
  .gitlab-ci.yml
Due: none

Update app
  server.go
Due: build, build_docker

Path conditions:
  build: any of: server.go
  get_build_artifacts: (any of: Dockerfile) and (not (any of: server.go))
  build_docker: any of: server.go, Dockerfile
